body {
    margin-top: 0px;
    top: 0px;
    background-color: #9B5F74;
}


/*-----------------------------------Cabecera-------------------------------------------------*/
h1 {
    font-family: "Acme", sans-serif;
    /* text-shadow: 0px 0px 17px rgba(0,0,0,1); */
    padding: 12px;
    background-color: white;
    mix-blend-mode: screen;
    border-radius: 7px;
}


header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    align-items: center;
    background-color: #5F9B86;
    margin-top: 0px;
    top: 0px;
    z-index: 3;

}

header img{
    width: 130px;
    height: 130px;
    border-radius: 200px;
    margin-left: 30px;
    margin-right: 30px;
}

/*--------------------------------------------------------------------------------------------------*/


/*----------------------------------Navegacion----------------------------------------------------*/
.barranav {
    /* margin-top: 132px; */
    position: fixed;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    top: 133px;
    z-index: 2;
}

.barranav ul {
    list-style: none;
    display: flex;
    background-color: #2a4166;
    font-family: "Teko", sans-serif;
    padding-left: 0px;
}

.barranav ul li {
    flex-grow: 1;
}

.barranav ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-align: center;
    display: block;
}

.barranav ul li a.activo {
    background-color: #5F718C;
}

/*------------------------------------------------------------------------------------*/



/**----------------------------Seccion inicio-----------------------------------------*/

.objetivos{
    margin: 230px auto;
    max-width: 800px;
    font-family: "Dosis", sans-serif;
    border-top: 3px solid black;
    background: #5f9b86;
    background: linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -webkit-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -moz-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: white;
}

.objetivos h3{
    color: burlywood;
    font-size: 30px;
    text-align: center;
}

.objetivos img {
    width: 100%;
    filter: drop-shadow(8px -6px 5px #000000);
    -webkit-filter: drop-shadow(8px -6px 5px #000000);
    -moz-filter: drop-shadow(8px -6px 5px #000000);
    z-index: 1;
}


/*-----------------------------------------------------------------------------*/


.contactanos {
    margin: 220px auto 0px auto;
    max-width: 800px;
    font-family: "Dosis", sans-serif;
    display: flex;
    background: #5f9b86;
    background: linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -webkit-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -moz-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
}

.contactanos h3 {
    color: burlywood;
    font-size: 30px;
    text-align: center;
}

#acercarte {
    width: 40%;
    border-right: 3px solid black;
}

#redes {
    width: 60%;
}

.contactanos a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

.contactanos a:hover {
    border: 1px solid black;
}

#redes p {
    margin-top: 0px;
    color: #7a7a7a;
}

#redes p:hover {
    cursor: not-allowed;
}

#nombreredes {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}

#acercarte {
    text-align: center;
}

#comentarios {
    margin-top: 140px;
    display: block;
}

#comentarios label,
#comentarios textarea {
    color: #5F9B86;
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
}

#comentarios textarea {
    color: black;
    width: 400px;
    font-size: 15px;
}

#nombreredes #mail{
    color: black;
}

#nombreredes #mail:hover{
    cursor: default;
}





/*---------------------------------------------------------------------------*/

.mision{
    margin: 230px auto 10px auto;
    max-width: 800px;
    font-family: "Dosis", sans-serif;
    border-top: 3px solid black;
    background: #5f9b86;
    background: linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -webkit-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -moz-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: white;
    transition: all 0.5s ease;
}

.mision h3, .valores h3 , .vision h3{
    color: burlywood;
    font-size: 30px;
    text-align: center;
}

.mision ul li{
    margin-top: 10px;
}

.mision:hover{
    scale: 1.3;
}

.vision{
    margin: 10px auto;
    max-width: 800px;
    font-family: "Dosis", sans-serif;
    border-top: 3px solid black;
    background: #5f9b86;
    background: linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -webkit-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -moz-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: white;
    transition: all 0.5s ease;
}
.vision:hover{
    scale: 1.3;
}

.valores{
    margin: 10px auto;
    max-width: 800px;
    font-family: "Dosis", sans-serif;
    border-top: 3px solid black;
    background: #5f9b86;
    background: linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -webkit-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    background: -moz-linear-gradient(216deg, #5f9b86 0%, #5f718c 80%);
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: white;
    transition: all 0.5s ease;
}
.valores:hover{
    scale: 1.3;
}


