body {
    margin-top: 0px;
    top: 0px;
}


/*-----------------------------------Cabecera-------------------------------------------------*/
h1 {
    font-family: "Acme", sans-serif;
    /* text-shadow: 0px 0px 17px rgba(0,0,0,1); */
    padding: 12px;
    background-color: white;
    mix-blend-mode: screen;
    border-radius: 7px;
}


header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    background-color: #5F9B86;
    /* border-bottom: 5px solid #2a4166; */
    margin-top: 0px;
    top: 0px;
    z-index: 3;

}

/*--------------------------------------------------------------------------------------------------*/


/*----------------------------------Navegacion----------------------------------------------------*/
.barranav {
    /* margin-top: 132px; */
    position: fixed;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    top: 133px;
    z-index: 2;
}

.barranav ul {
    list-style: none;
    display: flex;
    background-color: #2a4166;
    /* padding: 2px; */
    font-family: "Teko", sans-serif;
    padding-left: 0px;
}

.barranav ul li {
    flex-grow: 1;
}

.barranav ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-align: center;
    display: block;
}

.barranav ul li a.activo {
    background-color: #5F718C;
}

/*------------------------------------------------------------------------------------*/



/**----------------------------Seccion inicio-----------------------------------------*/

.objetivos {
    margin: 230px auto;
    max-width: 800px;
    font-family: "Dosis", sans-serif;
    border-top: 3px solid black;
}

.objetivos h3 {
    color: burlywood;
    font-size: 30px;
    text-align: center;
}

.objetivos img {
    width: 100%;
    filter: drop-shadow(8px -6px 5px #000000);
    -webkit-filter: drop-shadow(8px -6px 5px #000000);
    -moz-filter: drop-shadow(8px -6px 5px #000000);
    z-index: 1;
}





/*-----------------------------------------------------------------------------*/